@model RequestPasswordViewModel

@{
    ViewData["Title"] = "Request new password Page";
}

<div>
    <h1 class="display-4 text-center">Request Password App</h1>
    <div>
        <ul>
            <li>
                @Model.Email
            </li>
            <li>
                @Model.Ip
            </li>
        </ul>
    </div>
</div>